<html lang="es">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <div>
        <h1>HOME</h1>

        <div class="box">
            <h2>Enlaces</h2>
            <ul>
                <li><a href="/update">Actualización base de datos</a></li>
                <li><a href="/re_train">Reentrenado de modelo</a></li>
                <li><a href="{{url_for('predict')}}">Predicción de los datos</a></li>
            </ul>
        </div>
    </div>
</body>
</html>