<html lang="es">
    <title>Predict</title>
    <link rel="stylesheet" href="../static/css/styles.css">
<body>
    <div>
        <h1>PREDICCIÓN</h1>

        <div class="box">
            <form method="POST" action="{{url_for('after_predict')}}" class="form">
                <div class="form-item">
                    <label for="day">Dias a predecir</label>
                    <input type="text" placeholder="introduce un valor" name="day">
                </div>
                <button type="submit" class="form-button">predict</button>
            </form>
            
        </div>
    </div>
</body>
</html>